<p id="notice"><%= notice %></p>

<h1>
  <%= @user.username %>
</h1>

<p> This user is a member of following beer clubs: </p>

<ul>
  <% @user.beer_clubs.each do |club| %>
      <li>
        <%= link_to club.name , club %>
      </li>
  <% end %>
</ul>

<p>
  <% if @user.ratings.empty? %>
      This user hasn't rated any beers.
  <% else %>
      This user has made <%= pluralize(@user.ratings.count, 'rating') %>, average <%= @user.average_rating %>
    <ul>
      <% @user.ratings.each do |rating| %>
          <li>
            <%= rating.to_s %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
                </li>
      <% end %>
    </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
